[2014-04-18 18:43] krakas opened #1 "get clipboard text from a function"
hey how can I call paste.js to get the content of the clipboard from another function ?

I want to paste when the user clicks on a javascript button. thanks..

[2014-04-30 15:10] #1 closed, assigned to nobody

[2014-11-06 18:58] EugenMayer opened #2 "textarea not working for IE11/FF(33)"
Using your example at http://micy.in/paste.js/ and also implemented it myself in a wysiwyg.

For chrome, its just fine, but FF and IE11 does not work in your demo nor in my case, when using the textarea.

I tried to debug it and it seems like the image is not "pasted" into the hidden div, but rather into the textarea itself, therefore https://github.com/layerssss/paste.js/blob/master/paste.js#L9 d

[2014-11-07 11:49] EugenMayer opened #3 "Dont deploy hidden div for clipboardAPI enabled browsers"
Chrome supports the clipboard API completely and we should rather use this instead the old pasteArea hack, don't you think? (Chrome 33)

![image](https://cloud.githubusercontent.com/assets/136934/4952420/0e88874e-6674-11e4-9e05-ed04b9cab71d.png)

[2014-11-07 18:08] #3 closed, assigned to nobody

[2014-11-08 17:04] #2 closed, assigned to nobody

[2014-11-11 07:42] BelinChung opened #7 "关于插件在 Safari 上无法获取剪切板里的图片问题"
Hi
不好意思，自己心急粗心大意，上个问题是因为自己代码的影响
重新修改下问题咨询：
目前发现 Safari 上无法获取剪切板里的图片，请问这个是因为什么限制影响的呢？
非常感谢！

[2014-11-11 09:16] #7 closed, assigned to nobody

[2015-03-07 16:51] aeroyu opened #9 "hi,chrome41can not work"
hi,chrome41can not work

[2015-03-08 08:03] layerssss commented on #9
thank you for reminding me. I'll look into it now.

[2015-03-08 08:12] #9 closed

[2015-04-24 12:40] pilaas opened #10 "Add "main" property to bower.json..."
... with value "paste.js".

It would help when using gulp-bower.

[2015-05-05 20:44] xdumaine opened #11 "Image paste doesn't work for pastableTextarea in firefox"
On the example page and in my app, I can paste an image into the pastableNonInputable and pastableContenteditable but not pastableTextarea only in firefox. Pasting image in pastableTextarea works in Chrome

[2015-05-05 20:58] xdumaine opened #12 "Pasting text into pastableTextarea in firefox does not trigger `pasteText` event"

[2015-05-07 06:03] layerssss commented on #11
Thanks for submitting the issue, I'll look into the problem today

[2015-06-18 07:37] jmuheim commented on #11
Does work for me on both OSX 10.10 / Windows 7 and FF 38.0.5 Did you succeed in the meantime?

[2015-06-18 09:10] layerssss commented on #11
works for me too, (osx/ FF 38). The current hack for firefox consist of brutal key detection, listens to the `keydown/keyup` events, check the `keyCode` and `ctlDown` status, so it should be fragile in possible edge cases. So it would really help if someone finds the edge cases and report the environment (if possible keymap? anyway I am using dvorak keymap and experienced no problem).

[2015-06-18 09:14] layerssss commented on #12
hi, @xdumaine  I'm going to close this issue and keep the other same one open, to see if anyone can manage to reproduce the problem.

[2015-06-18 09:14] #12 closed

[2015-06-18 09:24] jmuheim commented on #11
That's good to hear. Anyway, it would be nice to sort this out. I'm using QWERTY.

[2015-06-18 09:30] layerssss commented on #11
@jmuheim so we both can not reproduce this problem, right? if so let's close this issue to see later if anyone come up with a new one.

[2015-06-18 09:30] #11 closed

[2015-06-18 14:34] jmuheim opened #13 "When pasting anything, I get every output 13x to console.log"
When pasting anything, I get every output 13x to console.log. The text "getrennte" was pasted once and output 13x:

![image](https://cloud.githubusercontent.com/assets/1814983/8233670/d2baab48-15d7-11e5-8bf7-4419f4c03be0.png)

Is this correct? What could be the problem?

[2015-06-18 14:35] jmuheim commented on #13
Yeah, what a nice coincidence: this is issue number 13! :laughing:

[2015-06-18 23:12] layerssss commented on #13
no way, I cannot reproduce the problem, can you make a simple jsfiddle or gist to demonstrate the problem? that would be really helpful! :smile:

[2015-06-19 07:20] jmuheim commented on #13
It seems to have to do with the `$('*')` selector from the example:

[code]

It seems to somehow traverse all the parent nodes of the textarea and appends the `<div>` to each node.

When doing

[code]

it seems to work. But I don't want to specify a fixed ID, I want to target all the textareas I have.

If this doesn't help yet, I will create a CodePen for it.

[2015-07-07 01:27] vladmalik opened #14 "Blob vs DataURI"
Hi,

Someone pointed out our plugins are similar (see https://github.com/vladmalik/pasteimage). Not too knowledgeable about the method you're using. I see it's basically the same or similar up to a point.

Mind taking a look at mine? It's pretty rudimentary and well annotated. Should I retire mine in favor of yours?

Thanks.

Vlad

[2015-07-07 02:38] layerssss commented on #14
Hi, @vladmalik thanks for pointing out. You are right we used similar methods ---- check the browser support for `ev.clipboardData`, used a hidden `[contenteditable]` to trap the image.

For me I had came up with 3 usage scenarios:

1. it's my original situation -- I can do the `focus()` using javascript, I just need to get the image, there's no need for a visible `textarea` or `[contenteditable]`

[2015-07-08 00:20] vladmalik commented on #14
Good to know. Thanks.

[2015-09-07 14:37] #13 closed

[2015-10-15 17:49] CMTietgen opened #16 "not working in firefox 41.0.2"
I'm trying to paste images in FF 41.0.2, but it looks like it worked in FF 38. Have they done something to prevent this now?

Getting an image paste to work in all browsers without a Java applet is challenging to say the least.

[2015-10-16 10:55] layerssss commented on #16
@CMTietgen thanks for telling me that, i think there were some minor changes in FF, I'm going to look into it, hopefully i'll fix the hack

[2015-10-31 04:20] nevf opened #17 "Doesn't work on Edge"
The on 'pasteImage' event never fires on M Edge.

[2015-11-02 05:00] layerssss commented on #16
@CMTietgen Hi, I am unable to reproduce the problem on my firefox41 (OSX, El Capitan). Which platform are you using? Are you using Windows and which version of it?

![image](https://cloud.githubusercontent.com/assets/1559832/10874548/7755ee70-8161-11e5-8910-8332ecee3ac0.png)

[2015-11-02 05:05] #10 closed

[2015-11-02 13:23] CMTietgen commented on #16
It's odd, I just tried again and it is working. I am not sure why it didn't when I originally reported this issue, but it looks like you can close this thread.

Thanks for looking into it and thanks for the code. I have an idea to use it in a website I am working on and will give you credit. I just need to figure out how to convert the blob data to an actual image and save it to the server.

[2015-11-03 08:42] layerssss commented on #16
@CMTietgen No worry buddy. You can attach the blob to xhr via `FormData` (xhr2). Then it would just be like a file uploaded via `input[type='file']`. See this article http://www.html5rocks.com/en/tutorials/file/xhr2/

[2015-11-03 08:42] #16 closed

[2015-11-11 16:54] layerssss commented on #17
![image](https://cloud.githubusercontent.com/assets/1559832/11096928/7e7113d8-88d7-11e5-8c43-a619a8123d9c.png)

Hi, @nevf , I tried it in Edge, and it works without a problem. I'll be better if you can show me your code, and let's see what is wrong

[2015-11-11 16:54] #17 closed

[2015-11-11 19:46] nevf commented on #17
@layerssss Sorry I should have been more specific. It works of you Copy an Image in the Browser, and Paste that. However if you open an image from Windows Explorer in an Image Viewer (ex. Photos in Win10) Copy that, then Paste doesn't work. I am using your example page.

[2015-12-31 03:27] iamkevinwang opened #19 "About textarea can not be paste when I use ctrl+v to paste text in textarea (using firfox)"
Hi,
I have some question.
following is my situation:
I copy some plain text and paste plain text to textarea on your example web site (http://micy.in/paste.js/) .
but I found out that when I use Firfox(IE 10 also),I can't paste plain text to textarea.
It's only trigger pasteText Event and append result after textarea.(see pic 1)

![default](https://cloud.githubusercontent.com/assets/4648683/120605

[2015-12-31 03:36] layerssss commented on #19
Thanks for reporting, this is certainly an issue of paste.js. I tried to make behaviours across different browsers the same, but most of my time have been focused on image pasting, so text pasting could have been missed out.

[2016-01-03 22:23] superdummy opened #20 "Thanks for the helpfull plugin!"
As there is no other easy way of doing this (ticket can be closed):

I just wanted to say thank you for developing and maintaining this cool plugin. I will use it in a non profit project and it saves me lot of time as I am not javascript geek. So thanks very much for making this world a better place by sharing such great and helpfull code!!

[2016-01-04 17:57] layerssss commented on #20
Wow, cheers mate! Keep the good works up!

[2016-01-04 17:57] #20 closed

[2016-01-13 08:48] virtman opened #21 "Safari image pasting may be supported"
Hello,

I have found out, that Safari supports pasted images.
The idea is, Safari reuses same way like you have for FireFox, but unlike FireFox you do not need to postpone image pasting. Pasted images are reported as plain base64 encoded pngs that can be read out + Safari reports the clipboardData.types "image/*****"
Here you can check the basic approach (paste image in Safari into ugly area, I di

[2016-01-13 10:26] layerssss commented on #21
hi, @virtman nice try, but the reported url ( e.g. webkit-fake-url://e05ae10e-96ae-42d0-a41a-ee03e7c35738/image.tiff ) is not the base64 encoded data, but a id referred to internal store of safari, which is not accessable by javascript. no way we can get the image out of this.

[2016-01-13 11:08] virtman commented on #21
Hello,
did you check my code on Safari?
Please check it, I know, what you mean, and the code can extract image, I do not read it out like FireFox does, by FireFox we have to postpone pasting and read it out from div with contenteditable, but by Safari you can not read it out from div, but you can read base64 encoded png from clipboard directly.
Here is the snippet with explanation, read the commen

[2016-01-14 09:19] xiwc commented on #19
I have the some problem, is there any fix solution? 3ks!

[2016-01-16 10:53] pkaminski commented on #19
Here's the workaround I use:
[code]

[2016-01-16 10:59] pkaminski opened #22 "Pasting doesn't work in Firefox on Linux"
In Firefox 43 on Linux, trying to paste either text or an image via `ctrl+v` results in the text area losing focus (and I believe the contentEditable area gaining focus, though it's hard to tell), and no `pasteImage`/`pasteText` event being fired.  Also, any further key presses of `v` (*without* `ctrl`) behave as if `ctrl+v` was pressed.

Original issue: Reviewable/Reviewable#235

[2016-01-17 11:43] layerssss commented on #21
Hi, @virtman  thanks for pointing out, but I tried your method and get an empty string (by `clipboardData.getData('Text')`). Here are my screenshots, so please tell me how you get the image data (since I am running the same platform as yours, latest Safari on El Capitan 10.11.2 ). I have also put my test code into `debug` branch. I would be nice if you can point the way out on the code.

![image](

[2016-01-17 11:51] layerssss commented on #21
Hi, @virtman  , just a second after I posted those screenshots I found out that if you directly open the page from `Finder` ( open it in a `file:///Users/xxx/xxx.html` url ). You will actually get the image data, `paste.js` will actually work, maybe the browser considered local filesystem as the same domain as the pasted data. Is that the situation you are actually encountering? If it is, sadly th

[2016-01-17 11:58] layerssss commented on #22
@pkaminski it's really only on linux, I'll install a vm to find out the causing

[2016-01-17 12:03] SimonSapin commented on #22
I reported the reviewable bug. I can reproduce it in the `$('.demo-textarea').pastableTextarea()` box in http://micy.in/paste.js/ . Let me know if I can help test something.

[2016-01-17 12:05] layerssss commented on #22
hi @SimonSapin ,  which distro of linux and which desktop environment are you using?

[2016-01-17 12:06] layerssss commented on #22
ah, great @SimonSapin . I like archlinux!

[2016-01-17 12:06] SimonSapin commented on #22
Archlinux x86_64, running GNOME 3 with X11.

[2016-01-17 12:58] virtman commented on #21
Hello,

well, it seems, only when I copy image from Safari self (as image and not as text) and the source of this image is base64 data:png... (not just link) than it appears in clipboard as text that can be reused.
Also I was to early happy, seems to be only partially supported limited to Safari self as image source.
When copy from other sources I do not get it too.

[2016-01-17 15:27] virtman commented on #21
It seems Safari developers dislike images from other sources, that is even more evident when trying get around webkit-fake-url.
You can very well handle such image, draw it to canvas, copy such image from canvas to canvas, but as soon you want to get raw data from canvas "infected" by such image via toDataURL or getImageData, you get security message thrown..

[2016-01-17 15:30] layerssss commented on #21
Yes, `tainted canvas cannot be exported` is not Safari specific. When you draw an image from other domain (using `new Image();`..). You also get this error. `webkit-fake-url` is also "an image from other domain", hence not accessable by javascript.

[2016-01-19 01:39] xiwc commented on #19
@pkaminski 3ks, i will try.

[2016-01-23 09:15] pkaminski commented on #22
Ping @layerssss -- have you made any progress on this? Thanks.

[2016-01-23 09:46] layerssss commented on #22
hi @pkaminski I going to fix it today or to tomorrow, haven't investigated the cause yet, but it shouldn't be a problem.

[2016-01-23 09:48] pkaminski commented on #22
Awesome, thanks in advance!  Otherwise I'd have to add user-agent sniffing to reviewable.io to disable paste.js on Linux.

[2016-01-24 04:37] layerssss commented on #22
Hi what I've discovered is if I do copy an image from GIMP, it works fine. But if I copy an image from another webpage (right-click the image -> copy image), this issue occurred, and that's because Firefox only exposed the url of that image in this case. (This turned out to be not Linux specific, but Firefox specific, it can also be reproduced by ff on OSX and Windows.) So when this happens, it wi

[2016-01-24 04:39] layerssss commented on #22
fixed by:

* 96681d755953bd4493430e67ae85cf0290dbebbc (fixed the "broken" state)
* 0a6871fef6a7a09e7bd76d888c22c95d8685041f (added `pasteImageError`, try to fetch image from CORS-enabled hosts)

[2016-01-24 04:46] layerssss commented on #22
hi @pkaminski , I pushed a release 0.0.11, so if you are using package manager like bower you can update to that.

[2016-01-24 04:51] pkaminski commented on #22
Thanks, I'll integrate the new release later tonight.  But did you also test pasting text?  Because that had the same effect as pasting images (lost focus, `ctrl` "stuck") and doesn't seem related to CORS.

[2016-01-24 04:54] layerssss commented on #22
Yes, text pasting fixed in a separate commit, it got to do something with the keyevent hijacking logic.

[2016-01-24 10:22] SimonSapin commented on #22
Has http://micy.in/paste.js/ been updated for both changes? I now have no problem type the letter V, but CTRL+V still moves focus away and doesn’t paste for me. (I can paste a selection with middle-click, but that’s always been the case, and it’s a "separate clipboard" form CTRL+C / CTRL+V.)

[2016-01-24 10:27] layerssss commented on #22
@SimonSapin It has been updated already. What is the image source? Did you copied an image from another program like GIMP, or just copied an image from anther webpage's context menu?

[2016-01-24 10:42] layerssss commented on #22
@SimonSapin if it's an image copied from another webpage, you would expect a few seconds before an error alert being shown and the "focus" being recovered.

[2016-01-24 10:44] layerssss commented on #22
alert like this,
![image](https://cloud.githubusercontent.com/assets/1559832/12535805/69b3c2a6-c2ca-11e5-8e55-35601f3557e9.png) , if it's not the case, please tell me what's your image source

[2016-01-24 10:45] SimonSapin commented on #22
I’m copying text, in this case “Paste” from `<h1>Paste.js</h1>` on the test page, with double click to select + CTRL+C to copy. I’ve tried waiting a full minute just to be sure, nothing happened after focus went away.

The original issue is also about copying text. I didn’t know Reviewable supported copying images before filing this issue, and I don’t expect to use that feature. (I haven’t used an

[2016-01-24 10:52] pkaminski commented on #22
I deployed the new paste.js to Reviewable, and AFAICT things are now working correctly.  @SimonSapin, can you give it a try?  I think maybe the problem on http://micy.in/paste.js/ is just #19, for which I have a workaround on Reviewable.

[2016-01-24 11:16] SimonSapin commented on #22
@pkaminski Same as on the test page, CTRL+V still moves focus and doesn’t paste on Reviewable, but now I can type the letter V afterwards.

[2016-01-24 13:44] layerssss commented on #22
@pkaminski , I will try to integrate your workaround to fix #19

[2016-01-24 14:47] #19 closed

[2016-01-24 14:50] layerssss commented on #22
hi, @SimonSapin I'm unable to reproduce it currently, but I push another fix could potentially solve your problem (losing focus when pasting text). Could you please try it out on the demo page? And be sure to refresh the cache.

[2016-01-24 14:53] layerssss commented on #19
Hi, people, this issue is fixed using @pkaminski 's workaround. Now all browsers (including IE10) should have un-affected textareas, like in Chrome. Image-pasting still won't work under IE10, but text-pasting is not "broken" anymore.

[2016-01-24 15:42] SimonSapin commented on #22
Still the same CTRL+F5, with devtools showing fresh requests with 200 response status codes being made for everything. I can type the letter V, paste text with middle-click, or right-click + "Paste" in the context menu, but CTRL+V moves focus and doesn’t paste.

http://micy.in/paste.js/paste.js has `Last-Modified: Sun, 24 Jan 2016 14:55:06 GMT`

However, I could *not* reproduce the issue in an new

[2016-01-24 21:01] pkaminski opened #23 "Unable to paste text in Safari"
@puremourning reports that 0.0.11 broke `cmd+v` text pasting in Safari.  I'll integrate 0.0.13 later today to see if that fixes the issue, but thought I'd report it in the meantime.

[2016-01-24 21:05] pkaminski commented on #22
While I was able to reproduce the original issue in a Sauce Labs Linux VM (don't know which distro they use), I can no longer do so.  Could your Firefox profile be corrupted in some subtle way, @SimonSapin?

The code you found is fine.  It focus a special off-screen element to receive the keystroke, which the browser then translates into a paste event (even if the clipboard holds an image).  This

[2016-01-24 21:12] SimonSapin commented on #22
Well, yes, as I said the problem does not happen in a new profile of the same browser, but “corrupted in some subtle way” is just a nice way to say we don’t know what’s going on.

It sounds like this is where things are going wrong. Which part of the code is doing that? I can try debugging some more.

[2016-01-24 21:18] pkaminski commented on #22
I believe the `paste` event is handled on line 186, and the focus back to the `textarea` after a text paste is invoked on line 151.  This is all in v0.0.11 which is what's currently integrated into Reviewable, but I'll try to integrate the latest 0.0.13 later this afternoon, see if it helps.

[2016-01-24 21:52] puremourning commented on #23
Thanks @pkaminski. Yes, `cmd+v` doesn't work (in reviewable.io) but `edit->paste` does. Can help with diagnostics if you like. Just point me in the right direction to be useful.

[2016-01-25 01:50] pkaminski commented on #22
I integrated paste.js 0.0.13 into Reviewable, in case it makes a difference.

[2016-01-25 03:56] layerssss commented on #23
@pkaminski , Yes, it should be working in 0.0.13. You also need to remove your previous workaround because it's already in paste.js.

[2016-01-25 03:57] pkaminski commented on #23
Reviewable is now updated to 0.0.13, and yeah, I removed the workaround.  @puremourning can you try again?  Thanks.

[2016-01-25 03:59] layerssss commented on #22
hi, @SimonSapin , could you try on the demo page ( http://micy.in/paste.js/ ) to see if you can reproduce the problem?

[2016-01-25 07:20] layerssss commented on #22
hi, @SimonSapin , could you set some breakpoints and see if they were executed as expected, and the order of execution.

* https://github.com/layerssss/paste.js/blob/master/paste.js#L189
* https://github.com/layerssss/paste.js/blob/master/paste.js#L213
* https://github.com/layerssss/paste.js/blob/master/paste.js#L307
* https://github.com/layerssss/paste.js/blob/master/paste.js#L162
* https://githu

[2016-01-25 07:55] SimonSapin commented on #22
When I hit CTRL+C after setting breakpoints on all of these lines in the browser profile with the problem, none of them are executed. The code I quoted above *is* executed and I can step through jQuery triggering a focus event, but then nothing interesting seems to happen before control goes back to the event loop.

[2016-01-25 08:00] layerssss commented on #22
Thanks @SimonSapin , is that you mean CTRL+V ?  That'll be strange.

[2016-01-25 08:02] SimonSapin commented on #22
Yes, CTRL+V

[2016-01-25 08:04] layerssss commented on #22
Hi @SimonSapin , could you try on that demo-page( http://micy.in/paste.js ), but on the third box (that `[contenteditable]`), to see if text-pasting and image-pasting are functioning normally?

[2016-01-25 09:38] SimonSapin commented on #22
The third box works ok, but if I remember correctly it always has.

[2016-01-25 20:54] pkaminski commented on #23
I had a friend check on Reviewable with paste.js 0.0.13 and he reports that it still doesn't work.  `cmd+v` blurs the `textarea` and doesn't paste anything in.

[2016-01-26 01:51] layerssss commented on #23
@pkaminski Looks like I have to add some safe checks to ensure text-pasting isn't broken when paste-detection is not possible for whatever reason. Meanwhile, could you help me collect his environment, since I am unable to reproduced this issue under both FF43 and FF38ESR under GNOME3 and CentOS7

[2016-01-26 01:53] pkaminski commented on #23
This issue is for Safari on OS X.  I can get specific version numbers from my friend if you can't repro, but he just tried it on whatever he had installed so I suspect it's pretty widespread.  @puremourning can also let us know his system config.

[2016-01-26 02:15] layerssss commented on #23
@pkaminski I pushed a new version 0.0.14. Image-pasting are still not working in Safari, but the focus state of textarea should not be broken anymore.

[2016-01-26 05:05] pkaminski commented on #23
I think you forgot to tag 0.0.14.

[2016-01-26 05:06] layerssss commented on #23
@pkaminski ha, yes, it's tagged now.

[2016-01-26 09:09] pkaminski commented on #23
I integrated 0.0.14, but the results in Safari are... strange.  Running reviewable.io in an OS X VM on Sauce Labs, hitting `cmd+v` will paste anywhere from 0 to 3+ copies of the clipboard (usually 2).  Yet when typing normal text I have no problem with repeated characters.  Also, when my friend tries it directly on a Mac, he has to hold down `cmd+v` to get anything to happen at all and estimates t

[2016-01-27 00:34] pkaminski commented on #23
@puremourning, could you try pasting in Reviewable on Safari again to add one more data point?  Thanks.

[2016-01-27 09:28] puremourning commented on #23
Of course. Generally - it isn't working. If I hit `cmd-v` twice really quickly, *sometimes* I can get it to paste. But rarely. I tried a few tricks like holding down, double/triple hitting it, but it more miss-and-miss than hit-and-miss.

Versions:
- iMac (Retina 5K, Late 2014), also tried on MacBook Pro 2011
- OS X 10.11.2
- Safari 9.0.2 (11601.3.9)

[2016-02-04 08:54] pkaminski commented on #23
I disabled the paste.js integration in Safari (and Opera) since it's ineffective in those browsers anyway.  @puremourning can you verify that pasting now works normally?  Thanks.

This doesn't resolve the real issue but I'm out of ideas on how to track it down.

[2016-02-06 15:16] puremourning commented on #23
@pkaminski confirm that paste now works in safari.
Thanks!!!

[2016-02-07 03:16] pkaminski opened #24 "Cannot distinguish "real" vs "paste" blur due to delayed pasteText event"
In v0.15, the `pasteText` event is delayed, which makes it impossible for my code to tell apart a blur on the `textarea` that's due to pasting (and activating the `contentEditable` container) vs due to the user actually focusing another element.  This is important in my use case because blurring an empty `textarea` actually deletes it, so regaining focus later comes too late.  I could delay my blu

[2016-02-07 03:45] layerssss commented on #24
Hi @pkaminski , so there could be two approaches to this:

* trigger the event with additional parameters http://api.jquery.com/trigger/ could be a little intrusive because additional check will be required
* try to perform the event without triggering the handler, I don't know whether is it possible, but this will very ideal

What do you think?

[2016-02-07 03:56] pkaminski commented on #24
I don't know why you need to delay the `pasteText` event so I can't tell what would be a good solution.  I don't think you can avoid firing the `blur` or add extra parameters to it (unless you intercept it in the capturing phase? that might work).  Even just adding an extra attribute to the `textarea` (e.g., `pasteInProgress = true`) would be enough for me -- anything that will tell me that focus

[2016-02-07 04:36] layerssss commented on #24
@pkaminski  I managed to prevent "fake" blur/focus event from happening, you can see console logs on the demo page. And you need to put you event handler "after" invoking paste.js in order to make it work. I haven't yet pushed a release because currently I'm downloading an Edge VM to try to validate the recent changes on Microsoft Edge. The delaying of `pasteText` is due to solve problems for #23

[2016-02-07 04:38] layerssss commented on #24
@pkaminski  You can review the changes here e2039c2e4ad802788a26479549917c90b24144d1 , and this issue is only applicable for Firefox && IE11 (possible Edge) now.

[2016-02-07 06:32] pkaminski commented on #24
I tried the version from HEAD and the `blur`-prevention appears to be working as advertised.  However, there's another new issue:  after pasting text in Firefox (v43 on Win10), the visible cursor jumps two lines below the bottom line of the textarea even though the insertion point is positioned right after the pasted text (as shown by typing something).  The visible cursor's position is outside th

[2016-02-10 10:18] layerssss commented on #24
@pkaminski , This is really an issue where firefox didn't correctly handle prevention of propagation on capture-phase event, I actually googled a similar issue ( https://bugzilla.mozilla.org/show_bug.cgi?id=509376 ) with another event.  Meanwhile I let go the events on capture-phase to eliminate this issue. It wouldn't be a problem if you are using jQuery to bind your events (on the bubbling-phase

[2016-02-10 11:10] layerssss commented on #24
I was wrong it's not Firefox's bug but just me meddling with those two events on wrong target (`document`). But the solution would be the same. @pkaminski  Can you check out the HEAD version?

[2016-02-11 09:48] pkaminski commented on #24
I checked against HEAD (`668f93c1ee`) again but still see the same problem in Firefox.

[2016-02-11 10:11] layerssss commented on #24
oh this is a strange issue, while it only appears when there are at least "visually" two lines of text in the textbox. I thought that I had it fixed.

[2016-02-12 12:12] layerssss commented on #24
hi @pkaminski , I'm unable to stop the event handlers without introducing other issues so I have taken your suggestion, to add a class to the textarea. The css class `pastable-focus` was added long ago, just wasn't taking into account of the "fake" focuses. Now I've made it available to determine whether `focus`&`blur` events are "fake" ( 091813e ). You need to check whether it was focus __before_

[2016-02-14 11:33] pkaminski commented on #24
This works nicely for me, thanks!  Please let me know when you've cut a release with this code.

[2016-02-22 01:02] pkaminski commented on #24
Hey @layerssss, could you please cut a new Bower release with this fix?  Thanks.

[2016-02-22 20:47] layerssss commented on #24
hi @pkaminski sorry for the delay, I just push a new release with all those fixes, it's 0.0.16

[2016-02-22 20:47] #24 closed

[2016-02-22 20:48] #23 closed

[2016-02-22 20:48] layerssss commented on #22
This issue should be fixed in 0.0.16 now

[2016-02-22 20:48] #22 closed

[2016-02-22 20:49] #14 closed

[2016-03-23 22:00] pkaminski opened #25 "Textarea pastes are broken in Edge"
Pasting text into a `textarea` in Edge (25.10586.0.0) inserts the clipboard (i) twice and (ii) at the beginning of the text no matter where the cursor is.  Easily reproducible at http://micy.in/paste.js/.

reviewable/reviewable#267

[2016-04-14 07:31] jmuheim opened #26 "Demo is offline (404)"
![image](https://cloud.githubusercontent.com/assets/1814983/14520247/bb571796-0223-11e6-9f0b-8f7fdf2c4c12.png)

[2016-04-14 07:34] jmuheim commented on #26
Wanted to check whether pasting text into a pasteable textarea works in FF (as it doesn't in my project, and I wanted to check back), but sadly the demo's offline.

[2016-04-14 23:44] layerssss commented on #26
@jmuheim Sorry that's because I recently messed up my domain name settings, please move here to view the demo: http://gh-pages.micy.in/paste.js/

[2016-04-18 15:54] jmuheim commented on #26
Thanks it's up again. And pasting definitely is working in FF, so it has to be a problem on my side.

If you got time, could you maybe navigate to http://pimp.suhail.uberspace.de/, log in using `josh`/`joshjosh`, then go to http://pimp.suhail.uberspace.de/en/documents/3/edit and try pasting an image from clipboard into the `content` field? Using Chrome: works like a charm. Using FF: doesn't work.

[2016-04-19 08:02] layerssss commented on #26
Hi, @jmuheim I've followed you url in Firefox and found it working. But only in these way:

1. copy image from other programs, e.g. press "Screen Print", or "Cmd + Ctl + Shift + 3", and paste it in the textarea
2. click image in Firefox, but from the same origin ("http://pimp.suhail.uberspace.de"), e.g. the "amazon" image been already there, and click "copy image", then paste it in the textarea

B

[2016-04-19 11:01] jmuheim commented on #26
I think I wasn't clear enough. ;)

The pasting of image from clipboard definitely's working also in FF. But you can't copy and paste a text into the "Content" textarea.

So it seems to be a problem when paste.js decides between whether an image was pasted or text, and while pasting the image works in FF as expected, when pasting text in FF, the text doesn't occur in the textarea (though it should)

[2016-05-09 13:13] jmuheim commented on #26
Did you have some time to inspect this? I'll definitely have to take a look at it myself soon, but I'm no big JavaScript hacker and maybe you'd like to donate a few minutes to me and maybe find the problem much quicker?

If not, I absolutely understand. :)

[2016-05-10 03:11] layerssss commented on #26
Hi @jmuheim , it will be great if you can help me out on this issue. Text-pasting breaking in FF has been an issue for a long time.

The challenge presented by FF is that, the only way we can get image-data from FF is to use a invisible `div[contenteditable]` to capture the input cursor, then from there we can get the base64-encoded image binary. But when a piece of text got pasted, it will be pas

[2016-05-23 12:33] jmuheim commented on #26
I will take a look at this soon. Would be great if we would figure something out to make this work.

👍

[2016-05-27 00:30] layerssss commented on #26
@jmuheim  It seems not possible for me to reproduce this problem now. I'll close this before we can find a way to reproduce it.
![image](https://cloud.githubusercontent.com/assets/1559832/15594125/c70c10d2-2406-11e6-9e6e-5026bab891d0.png)

[2016-05-27 00:30] #26 closed

[2016-05-30 07:13] jmuheim commented on #26
I pointed this up long before:

I will take a look at the problem on my side myself. Maybe I have to grab the newest version of the source.

[2016-07-12 08:47] chessychev opened #28 "pasting image on firefox not working with editable content that is not contenteditable"
i want to be able to paste to a big container div. the container is not editable itself, but has both editable and non editable sub elements.
i'm using the pastableContenteditable(). on chrome it works perfectly, but on firefox pasting images to this div only works if i add 'contenteditable' to the container div (which i don't want to add, since it modifies the container's look and behaviour).
exa

[2016-07-12 09:07] chessychev commented on #28
perhaps related
https://bugzilla.mozilla.org/show_bug.cgi?id=891247

[2016-07-13 00:21] layerssss commented on #28
@chessychev Hmm, that's a user-case I haven't thought about. Will do some work on it next week.

[2016-07-13 00:25] layerssss commented on #28
@chessychev Thanks for forwarding me the bugzilla link, it looks like they're going to ship something to make it much easier.  That'll be good, because currently, paste.js is using some serious tangled and unstable hack.

[2016-07-19 20:56] pkaminski opened #29 "Post-paste focus broken in Firefox v50+"
In Firefox v50+ the focus doesn't return to the textarea after text is pasted.  From a comment by @mystor in reviewable/reviewable#360:

[2016-07-21 02:21] layerssss commented on #29
😆that's a great news coming from Firefox! I'll make adjustment and a new release before this weekend.

[2016-07-23 22:14] layerssss commented on #29
@pkaminski  Sorry I'll hold this a little bit until next week. Luckily it seems not so urgent because v50 hasn't been on any release channels yet, here are the versions (from https://www.mozilla.org/en-US/firefox/channel/):

* stable 47
* beta 48
* developer 49

[2016-07-31 00:18] pkaminski commented on #29
Yeah, looks like v50 is scheduled for release in November, so no big rush.  On the other hand, Reviewable has a disproportionately large audience of early-adopter developers, so v50 will become prevalent in this population much earlier.

[2016-08-18 08:29] IAIAE opened #30 "does it work on Windows OS ?"
你好！在rubyChina上看到你的帖子。貌似两年过去了clipboardData这个接口一点变化也没有~TAT~
***这个在windows系统上work嘛？*** clipboardData在自己mac上工作得挺好的，换到windows系统上复制图片后clipboardData.items.length为0。你是否遇到这类情况？

[2016-08-22 03:49] jaiiye opened #31 "在firefox 45.3.0的contentEditable（输入）框中仅能保持一张图片"
一块文本域中使用paste.js处理粘贴上传，然后将图片插入文本域，但在firefox中会把框中所有前面插入的图片清掉，看源码应该是方法_checkImagesInContainer将图片删掉了，如下：
![image](https://cloud.githubusercontent.com/assets/463148/17843243/4471e89e-685e-11e6-81b9-24482eb50e3f.png)。

[2016-08-22 22:26] pkaminski commented on #29
Ping -- it's been a month, I think it would be good to get this fixed now since FF50 is moving into beta in 3 weeks.

[2016-08-23 03:25] layerssss commented on #29
@pkaminski  Get it, yeah, need to fix it now!  😆

[2016-09-05 18:14] pkaminski commented on #29
Ping...

[2016-09-06 11:00] #29 closed

[2016-09-06 11:09] layerssss commented on #29
✨  This issue is fixed! (and elegantly! )

Sorry for been super slow for those issues during the previous couple of months. I moved from China to New Zealand half a year ago. And most of the time just been travelling. I started working only a month ago with a group of awesome people at @boost . But it's a lot of amazing things happening now.

A million thanks for been a user of paste.js and forwar

[2016-09-06 11:22] layerssss commented on #25
Hi @pkaminski  I can confirm that:

1. it's because of two buggy patches accidentally been pushed to my `gh-pages` branch
2. at this moment it's working fine on latest Edge (the same version string!)

And now the 'text' focusing issue is fixed by updating that branch. And image pasting on Edge is working now because of the new patch.

[2016-09-06 11:22] #25 closed

[2016-09-06 12:06] #31 closed

[2016-09-06 12:22] layerssss commented on #28
Hi @chessychev now I made it possible for you to call `pasteNonInputable` on the parent container without destroying any inner elements' functionality. You can preview it here:  ✨

https://jsfiddle.net/layerssss/yo05ugn4/

[2016-09-06 12:24] layerssss commented on #31
Good catch! It's fixed now! ✨

[2016-09-06 12:26] layerssss commented on #30
Yes it will work on Windows, on Windows it will use the `contenteditable` hack to handle the images as well.

[2016-09-06 12:26] #30 closed

[2016-09-06 13:14] layerssss commented on #28
Update: now you don't have to call it on the children element. Calling `pasteNonInputable` will automatically apply to any children elements as well!

[2016-09-07 06:36] pkaminski commented on #29
Thanks @layerssss!  Both for the fix and for making this super useful library in the first place.  Enjoy your new job -- I keep talking about moving to NZ one day, and perhaps I eventually will.  :)

[2016-09-07 11:35] chessychev commented on #28
@layerssss
hi, first of all thanks.
in my app and in your fiddle it seems to work, except for selecting text. now when you mark text, it get deselected on mouse up (onmouseup). it possible to copy the text for example if you ctrl+c before onmouseup, but i can't assume the average user of my app will do it.
should i open a new issue for that?

btw, pastableTextarea doesn't make the textarea pastabl

[2016-09-08 12:01] layerssss commented on #28
Ah first, good catch!  I'm reopening the issue...

But I think we can't avoid that, since we have to steal the focus / selection and put into a `[cententeditable]` element to make image pasting work, even on Chrome!

Can I suggest that you disable the selection on all static text using `user-select: none;`? to make it consistent.

I havn't pushed a release yesterday, I'll push one now.

[2016-09-08 12:02] layerssss commented on #28
We can leave this issue open until you have you stuff working, before that just let me know I'll help.

[2016-09-09 19:54] pkaminski opened #32 "DataTransfer is not defined in all browsers"
I think you need to checkof `typeof DataTransfer !== 'undefined'` before checking if it has an `items` property.

[2016-09-11 11:08] layerssss commented on #32
Thanks buddy 😆  good catch!

[2016-09-14 14:14] chessychev commented on #28
it's alright, we just don't support firefox at the moment.

[2016-09-21 20:00] pkaminski commented on #32
Thanks for the fix, but I have bad news: it breaks in IE10 (and older, presumably):
`TypeError: Object doesn't support property or method '__lookupGetter__'`

I hate IE as much as the next person, but it would probably still be good if Reviewable didn't crash immediately on load if you're stuck using IE10 for some reason.

[2016-09-22 06:21] layerssss commented on #32
@pkaminski I'll fix that quickly, and it seems that I have to set up a cross-browsers CI for not breaking behaviours of the current browser elements.

[2016-09-22 22:22] pkaminski commented on #32
No problem, thanks!

[2016-09-22 23:18] #32 closed

[2016-09-22 23:23] layerssss commented on #32
@pkaminski I've shipped the fix with 0.0.21. :)

[2016-10-05 04:39] pvnr0082t opened #33 "About package on npm"
Hi @layerssss ,
I'm a member of [cdnjs](https://github.com/cdnjs/cdnjs). We want to host this library.
I'd like to confirm that if https://www.npmjs.com/package/paste.js is officially maintained. If not, we will set git auto-update config and auto-updater in cdnjs will update automatically from git repo not NPM.
Thank you.

https://github.com/cdnjs/cdnjs/issues/9156

[2016-10-05 05:06] layerssss commented on #33
HI @pvnr0082t that sounds so nice. The `npm` package is not maintained since it's just a single-file JavaScript library to be used in the browser. So updating it from the git repo makes more sense. Please let me know if you have any questions. :) 👍

[2016-10-05 06:30] pvnr0082t commented on #33
@layerssss Pull reqeust just sent to cdnjs. Thanks for your help. :facepunch:

https://github.com/cdnjs/cdnjs/pull/9179

[2016-11-05 01:36] #33 closed

[2016-11-05 01:36] #28 closed

[2016-11-05 01:37] #21 closed

[2017-01-09 12:52] Wavum opened #34 "Doesn't work in Chrome 55.0.2883.87 m"
It doesn't work for me in Chrome 55.0.2883.87 m.

[2017-01-09 22:16] layerssss commented on #34
@Wavum Can you post more details of what issues are you having?

[2017-01-10 06:50] Wavum commented on #34
@layerssss  I tested it on your website: http://gh-pages.micy.in/paste.js/

I don't get any errors, i just doesn't fire the pasteImage-event.
In firefox it work's for me.

[2017-01-10 06:58] Wavum commented on #34
Ok, I tested it on another PC it's just my problem.

[2017-01-10 19:12] layerssss commented on #34
@Wavum Maybe it has to do with the **image source** from which you copied, it can only be "an image", NOT "an image file", NOT any other type of non standard image.

I'm closing this now, feel free to reopen it if you discovered any more details need to be addressed.

[2017-01-10 19:12] #34 closed

[2017-02-16 08:44] jmuheim opened #36 "How to detect whether browser supports pasting?"
Hey there

Thanks a lot for this amazing little helper, we use it in our web app extensively.

We have an image upload field, which is simply a textarea now, and using paste.js, a pasted image is converted to base64, and the base64 string is sent to the app and there saved as a normal PNG file.

At the moment, we rely on users having a supporting browser (IE11, FF, Chrome). But we'd like to add a

[2017-02-16 23:26] layerssss commented on #36
Hi @jmuheim , there's no way to detect the support straight forward. But I can definitely put an API to indicate the support, after I can do some testing through BrowserStack, specifically around mobile browsers. 👍  I'll pop you when it's there.

[2017-02-16 23:27] layerssss commented on #36
I mentioned mobile browsers because on some browsers / versions although there is API support, but no interaction for "paste" (i.e, press Ctrl + V)

[2017-02-17 10:02] jmuheim commented on #36
Great, thank you! :-)

[2017-02-20 14:11] salvisb opened #37 "Event pasteImage is called multiple times"
Hello!
When using pastableNonInputable() method, the event pasteImage is called multiple times.
In fact, there is a strange behavior, it looks like pasteImage is fired so much times as binded element goes into DOM.

To ilustrate:
$('html').pastableNonInputable();  // pasteImage is fired 1 time
$('body').pastableNonInputable();  // pasteImage is fired 2 times
$('#some_element_inside_body').pastable

[2017-02-21 09:14] salvisb opened #38 "How to unbind pasteImage event"
Hi,
what is correct way to unbind pasteImage event?
Thanks!
[code]

[2017-02-24 10:05] jmuheim opened #39 "Fake paste event for automatic testing?"
Hello

Is there a way to fake the paste event? I need to test my JavaScript code and don't know how to trigger the event.

Thank you.

[2017-02-24 23:19] pkaminski opened #40 "Firefox now supports paste event without an editor element"
Looks like this bug was finally fixed: https://bugzilla.mozilla.org/show_bug.cgi?id=846674#c50

I don't know for sure, but perhaps this will let you get rid of the hidden editable hack for Firefox?

[2017-03-04 03:10] pkaminski opened #41 "Failed to execute 'readAsDataURL' on 'FileReader': parameter 1 is not of type 'Blob'"
A user got this error while using paste.js 0.0.21 within Reviewable:
[code]
This is in Chrome 56.0.2924 on Mac OS X 10.12.2.  I don't know what they were trying to paste -- presumably something that's not supported -- but it's probably worth it to stick a try/catch around this line just in case.

[2017-03-05 19:58] layerssss commented on #41
@pkaminski That's highly likely the `getAsFile()` API is yielding `null` (that means maybe an invalid image, or a very big image failed to be process by Chrome), since the version is almost the latest.

But sure I'm adding a try catch to make it less exception-ish.

[2017-03-05 19:59] #41 closed

[2017-03-05 20:13] layerssss commented on #40
@pkaminski I think this doesn't really helps with getting the image data. It seems to be handling the event for `[contenteditable]`. (from what I understand in the source diff). But I'll try to debug to confirm it later today. Thanks for following up on it :)

[2017-03-05 20:14] layerssss commented on #39
That doesn't sound always possible, what's your test driver for doing that?

[2017-03-05 20:14] layerssss commented on #38
Maybe try `$('*').off('pasteImage');` to turn it off.

[2017-03-05 20:17] layerssss commented on #37
Hi @salvisb      🤣

I'm not surprised strange thing happening if you call the API on `html` or `body`, it's designed to be called on individual small DOM element. Like a `textarea`, or a `div` displayed as a rectangle.

[2017-03-06 13:53] salvisb commented on #38
Great, thanks!

[2017-03-06 14:04] salvisb commented on #37
I want to intercept paste event every time it is fired, no matter which element is focused.
What would be the right way to achieve this?

[2017-03-06 23:28] #38 closed

[2017-03-06 23:30] layerssss commented on #37
@salvisb If that's the case, maybe you need to listen to `paste` event without calling the `pastableNonInputable()`, that is to use the browers' original API. You will still able to get the image data in Chrome in this way by `event.clipboardData.items[0].getAsFile()`.

[2017-03-06 23:32] layerssss commented on #37
For in IE and Firebox what this library is doing is just a bunch of hacks,   if you put the hacks on the parent / ancestry elements the hacks will do wield things :P

[2017-03-06 23:32] #37 closed

[2017-03-06 23:50] layerssss commented on #39
If you are satisfied with this one

[code]

[2017-03-06 23:50] #39 closed

[2017-03-07 09:37] salvisb commented on #37
@layerssss ok, thanks! If at some point current implementation will crush for my project needs, will look at `event.clipboardData.items[0]`

[2017-03-07 12:36] jmuheim commented on #39
I'm using Ruby on Rails with RSpec, Capybara, and PhantomJS. It's pretty cool, but for JavaScript testing it's rather limited. We'll see what I can do with the code you posted above... Thank you.

[2017-04-20 15:14] eduo opened #42 "Safari currently supports this"
In the past I hadn't been able to use this because of Safari.

Today I was looking and saw several snippets where image paste works in Safari:
https://jsfiddle.net/SaschaKluth/togafu5s/1/
http://jsfiddle.net/KJW4E/754/

So I revisited this and found out that the table still doesn't list Safari but that it indeed supports it
in all three modes:

![screenshot 2017-04-20 17 13 02](https://cloud.githu

[2017-04-20 19:06] layerssss commented on #42
Hi @eduo thanks for finding this! I've added the change to READMEs c6487b9 . Cheers.

[2017-04-20 19:06] #42 closed

[2017-04-20 22:14] eduo opened #43 "Pasting Files"
Currently paste.js is an ideal solution for handling copy and paste programmatically of both text and bitmaps. Have you ever considered including also pasting of files? In some platforms (Windows, especially) a common way of copying files around is by pasting them (I'd venture it's as common as drag & drop on Mac).

I know you can read files with JavaScript ( https://www.html5rocks.com/en/tutorial

[2017-05-04 22:55] douglasg14b opened #44 "Pasting text and then pasting image results in images not pasting"
I am using the `pastableNonInputable` bit. If I paste an image first, it works great. However, if I paste text (Which I do nothing with), then paste an image the image does not paste. Neither the `pasteImageError` or  `pasteImage` events fire.

[2017-05-05 01:01] layerssss commented on #44
Hi , on which browser did you run into that?

[2017-05-08 15:39] douglasg14b commented on #44
@layerssss Chrome 58.

I can't reproduce it 100% of the time, but it happens more often than not.  After it happens, only a full page reload seems to fix it.

[2017-05-12 13:15] jmuheim commented on #36
Any news on this?

[2017-05-13 06:05] layerssss commented on #36
@jmuheim I've found myself hard to allocate time for this. Do you have a schedule for implementing related feature in Reviewable? (I'll try to implement the API before that)

FYI: it's now working in Safari 🎉

https://github.com/layerssss/paste.js/issues/42

[2017-05-15 08:11] jmuheim commented on #43
This is a very good idea!

I'm creating a markdown online editor which at the time being allows pasting image files directly into a textarea, which then automatically uploads the file and inserts a markdown image reference into the textarea.

It would be very useful if I could also upload e.g. PDF files, audio files, etc., and act upon the pasted file in some way.

Is there any way to improve past

[2017-05-15 08:47] layerssss commented on #43
This is promising. How even I 2 years ago I noticed that in OSX, when a filed being dragged into the browser, only the icon of the file was received, instead of the file itself.

The only viable data from HTML5 drag'n'drop API at that time being was image / link / download link
 / data provisioned by JS, dragged from the same or another web page.

I'll see if we can have more capability around tha

[2017-05-15 08:50] jmuheim commented on #43
This sounds promising!

Thank you for your great work. Paste.js is a very essential part of my company's daily workflow.

[2017-05-15 10:32] jmuheim commented on #42
That's great news! 👍

[2017-05-15 10:33] jmuheim commented on #36
What's "Reviewable"?

No I don't have a schedule. Take yourself time, it's good to hear that you're planning to add it.

[2017-05-15 10:45] layerssss commented on #36
Haha, my bad, forget my question. Yeah, I'll push it recently!

[2017-05-15 10:46] jmuheim commented on #36
;-)

[2017-05-16 00:36] boboxiaodd commented on #44
@layerssss  Safari

[2017-05-17 02:34] boboxiaodd commented on #44
i change the code, and safari work, but chrome paste images from clipboard don't work.
[code]

[2017-05-17 02:50] layerssss commented on #44
Hi @boboxiaodd   if you have latest available Safari (10), it should work with the `.files` API (without changing the source code). Otherwise, if you try the `contenteditable` hack on Safari, you will only get a `fake-webkit-uri://....` url, which means almost nothing (you can only display it on webpage, but can not get data out from it because of security reason)

[2017-05-17 02:50] #44 closed

[2017-05-26 09:41] jmuheim opened #45 "Preventing pasted text from being inserted into the textarea?"
Besides using paste.js for pasting images to textareas, I also use it to react on pasted strings that have a specific format.

E.g., when pasting a codepen url like `https://codepen.io/jmuheim/pen/KmKOZO`, I don't want to insert this exact string into the textarea, but a markdown link to it, like this: `[CodePen.io](https://codepen.io/jmuheim/pen/KmKOZO)`.

For this, I need to prevent the original

[2017-06-09 07:32] silverwind opened #46 "Update the npm package"
Would it be possibly to have https://www.npmjs.com/package/paste.js updated?

It would make it easier for me if new releases where published to npm so I don't have to rely on a possible unstable git dependency.

If you have no control over the package, I'm sure npm support can set you up as the owner.

[2017-06-10 00:18] layerssss commented on #46
I've sent an email to the guy who put it up on npmjs. Hopefully he can add me to the collaborators list soon.

[2017-06-10 08:08] mb13 opened #47 "Why isn't Opera with "ok"s in the browser compatibility matrix?"
Thanks for this plugin, it works perfectly for me :)

I just have one question. I'm using the `.pastableTextarea()` on `textarea` and I'm using `pasteImage` and it works for me also in Opera. The image is loaded from the clipboard for me.

[2017-06-10 15:43] silverwind commented on #43
I played a bit with this on macOS, but it looks to be impossible to do cross-browser.

- Copying from Finder to Safari works and it receives the file and it's contents.
- Copying from Finder to Chrome only gives the file names as text.
- Copying from Finder to Firefox gives the file names as text and the file's icon as an image.

I couldn't see a way to access the actual file data in Firefox and C

[2017-06-11 09:10] jmuheim commented on #45
Any news on this? This would be really important for my project.

Thanks. 👍

[2017-06-13 12:53] jmuheim commented on #45
I'm sorry to stress you, but this minor thing is preventing a big user story from being merged into my project. Could you please give at least a statement whether this is possible, or whether I have to find a workaround?

[2017-06-13 13:00] jmuheim commented on #45
I tried `ev.preventDefault()`, `ev.stopPropagation()`, returning `false` and `null`, but nothing prevented the text from being inserted.

[2017-06-14 01:21] layerssss commented on #45
Hi @jmuheim sorry I've been super non-efficient on this project recently. Can you try `stopImmediatePropagation`(https://developer.mozilla.org/en-US/docs/Web/API/Event/stopImmediatePropagation), that's preventing an event propagating from the same DOM object. (while stopProgapagtion is preventing that from ancestries / descendants)

Also try swapping the order of the event handling order (I've alw

[2017-06-14 01:29] layerssss commented on #45
@jmuheim  Oops sorry, try

[code]

Those two combined at the same time.

[2017-06-14 01:31] layerssss commented on #45
Ideally we should not insert text when `isDefaultPrevented` is true, in paste.js. 😅  But the above (handling `paste` event) can be a workaround / quickfix.

[2017-06-14 01:32] layerssss commented on #47
Hmm, thanks for telling me. I'll test it in the weekend and amend the table. That's a good news.

[2017-06-14 09:09] jmuheim commented on #45
Thank you for answering. 👍

I tried it like this:

[code]

This basically works, but it makes pasting text in general impossible. I only want to prevent default when text in a certain format is pasted (a CodePen URL). Also, this seems to interact with the text editing history in some way, and makes undoing/redoing a pain (at least in Chrome on OSX).

I'm really no big JS expert, but the proposed s

[2017-06-14 09:20] layerssss commented on #45
You are write, when `isDefaultPrevented` is handled in paste.js, you will be able to do it like:

[code]

But in the meantime you can try replacing that string (`pastedData`) to workaround it.  Also getting the position of cursor in the `textarea` by `$(textarea).prop('selectionStart')` might be helpful to insert generated markdown link.

[2017-06-14 11:51] jmuheim commented on #45
Thank you, I indeed managed to create a workaround by replacing the originally pasted string like this:

    @$input.on('pasteImage', (ev, pastedData) =>
      new ImagePaster(@$input, pastedData)
    ).on('pasteText', (ev, pastedData) =>
      if match = pastedData.text.match(/https:\/\/codepen.io\/(.+)\/pen\/(.+)/)
        new CodePaster(@$input, match)

        # Doesn't work at the time being,

[2017-06-20 14:41] mb13 commented on #47
anyway, it also works for me in Edge ;-)

[2017-07-03 11:11] mb13 opened #50 "How can I trigger "pasteImage" on button click?"
The CTRL-V functionality in textarea is working for me for images. But I would like to add a new button that would do the same job: it means if user clicks on it, it would take the content of the clipboard and would send me the required data. Is it possible to do that?

[2017-07-04 09:31] layerssss commented on #50
Hi @mb13 , I don't think it's possible. Because the web content shouldn't be able to get OS clipboard content without explicit user instruction (CTRL/CMD - V). Otherwise it would be a security / privacy concern.

[2017-07-04 09:31] #50 closed

[2017-07-13 08:58] layerssss commented on #46
@silverwind I believe I've published `paste.js@0.0.21`. It should be available for webpack-like tools now. Let me know if I'm missing anything.

[2017-07-13 08:58] #46 closed

[2017-07-13 08:59] layerssss commented on #47
@mb13 I've updated the support matrix :)

[2017-07-13 08:59] #47 closed

[2017-07-16 20:25] silverwind commented on #46
Package looks fine, thanks!

[2017-07-26 15:30] CMTietgen opened #52 "Paste Location in Demo"
I was testing the demo in various browsers and got different results for where the image was pasted.

In the following browsers I clicked in the blank area **below** the 3rd div and the pasted image appeared **below** the 3rd div.

- Edge 38.14393.1066.0
- Firefox 54.0.1

In the following browsers I clicked **below** the 3rd div and the pasted image appeared **above** the 3rd div.

- Chrome 59.0.3

[2017-08-24 09:58] SatoshiKawabata opened #53 "【Question】How about compatibility of Microsoft Edge?"
[Browser compatibility](https://github.com/layerssss/paste.js#browser-compatibility) doesn't include Edge.
Please tell me compatibility of Microsoft Edge.

[2017-08-24 10:57] layerssss commented on #53
@SatoshiKawabata Edge has being supported well! :) I shall add that to the matrix later.

[2017-08-24 10:57] #53 closed

[2017-08-24 11:07] SatoshiKawabata commented on #53
Thanks. Very good.

[2017-08-25 08:41] SatoshiKawabata opened #54 "Prevent event from second time"
I use `pastableNonInputable` element.

When I paste text, I can't paste it from second time. [By this code](https://github.com/layerssss/paste.js/blob/master/paste.js#L261-L263), `ev.currentTarget` is not equal to `ev.target`. `ev.currentTarget` is the parent element but  `ev.target` is the child `span`.

Do you know some workaround? Or do I mistook usage?

[2017-08-25 09:24] SatoshiKawabata commented on #54
How about this change? I tryed to remove the evaluation.
https://github.com/SatoshiKawabata/paste.js/pull/1/files

[2017-08-28 05:23] layerssss commented on #52
@CMTietgen True, that's a quirk, (not sure in the library or just in the demo), since you shouldn't be able to paste if you click `below` the div. I'll look into it.

[2017-08-28 05:40] layerssss commented on #54
Hi, I tried to paste multiple times in Edge (assuming you're developing on Edge). And I can paste multiple times without problems.

Please try to remove other code manipulating the `textarea` then try implement the pasting feature again. If it's still not working please show me how do you think you can't paste text for the second time. (browser version / code).

The statement you are trying to rem

[2017-08-28 05:40] #54 closed

[2017-10-29 23:08] eduo commented on #43
Any movement on this?

It seems clear not all browsers support it, but perhaps this could be handled by a pasteFileError event?

[2018-01-04 12:25] GaryStimson opened #58 "IE11 No Longer Allowing Paste Of Images"
Try copying an image to clipboard (do a google image search and copy an image to the clipboard), then using example page try and paste into the paste regions. Note that in Chrome it works perfectly, but in IE nothing happens. Also note that in last content editable example, the image flashes up for a second and then disappears.
Gary

[2018-01-04 12:26] GaryStimson commented on #58
Further information: Looks like pasteImage event is not fired at all in IE.

[2018-01-04 13:41] GaryStimson commented on #58
Found issue was caused by IE inserting image after paste and hence timeout method in _checkImagesInContainer is used. However empty callback is provided so even through source is found and returned it does nothing.
Fixed in fork: https://github.com/GaryStimson/paste.js/blob/master/paste.js

[2018-02-16 03:34] pkaminski opened #59 "Need to cut a release"
It's been more than a year since the last release...  Time to cut 0.0.22 perhaps?

[2018-04-15 16:46] MichaelRoehrig opened #60 "Text selection broken"
Hello,

I'm running a file upload service (just for fun) and I've been using paste.js to allow users to CTRL+V images or text to the website. It'll then show "Pasted Image" and give an image preview or "Pasted Text". These can then be uploaded. Works perfectly - BUT:

To be able to paste the data no matter where the focus is on the website, I did

[code]

The problem is, that my website now has a

[2018-04-24 04:20] xhanglizhu opened #61 "怎么去掉默认的粘贴事件？"
现在想将复制的内容粘贴到div[contenteditable]，发现会出现两次同样的内容。
这个有什么好的解决思路？pasteText

[2018-04-24 05:38] xhanglizhu commented on #61
``$(ele).on('paste', function (ev) {
        ev.preventDefault();
    })

[2018-04-24 05:39] #61 closed

[2018-05-02 19:42] miladd3 opened #62 "Converting it to pure js"
First of all thanks for great plugin

Nowadays a lot of project are Vue.js, React.js, Angular.js,...
so forcing people to include  JQuery is not good idea

Its better to convert it to Pure JS

[2018-05-19 14:24] alexwenbj opened #63 "It seems not work on Safari 10.1.1 (12603.2.4)?"
It can work on FF and Chrome,but no response on Safari 10.1.1 (12603.2.4).

[2018-06-25 03:04] wd4219 opened #64 "can't paste pictures on windows desktop"

[2018-06-26 21:44] leviwheatcroft opened #65 "pasted image's filename"
Is there any way to get the pasted image's filename ?

Seems like there must be some way to do this, as I've seen apps like slack show an image's filename when pasted.

I thought it might be in the image's exif data, but that doesn't seem to be the case.

[2018-06-27 00:44] aYellowApple commented on #65
I thought, this is a paste of pictures from the clipboard, which is only a temporary file flow.
Do not have a file name in this form?

[2018-06-27 10:00] leviwheatcroft commented on #65
I understand what you're saying, but how do other js apps get filenames from pasted images ?

[2018-06-27 12:30] miladd3 commented on #65
you can get file name like this

                chatTextarea.one('pasteImage', function (ev, data) {
                    var fileName = data.name;
                }).on('pasteImageError', function (ev, data) {
                    throw "error on pasting image";
                })

[2018-08-28 17:40] Demonslay335 commented on #60
I can confirm the same behavior. If I comment out the snippet you mention on line 150, the text selection no longer is broken, _but_ the paste action itself no longer works either...

I have a work-around involving detection of whether text is selected per this StackOverflow answer relating to a click handler: https://stackoverflow.com/a/31982533/1301139

**paste.js:147**

[code]

I have some more

[2018-09-03 22:53] #60 closed

[2018-09-07 22:35] leviwheatcroft commented on #65
I eventually realised that the "other js apps" I was thinking of (like slack.com) don't get a filename when, as others have said, there is no "file" to have a name. Instead, they just make up a name like "Image.jpg"

[2018-09-07 22:35] #65 closed

[2019-04-17 02:35] jhlee8804 commented on #58
@GaryStimson Thanks to this report. I pushed your code :)

https://github.com/layerssss/paste.js/pull/67

[2020-08-24 02:02] rainfirex commented on #44
![image](https://user-images.githubusercontent.com/49662024/90996282-0370b180-e60a-11ea-8f13-93dc6eca6717.png)

[2020-08-25 07:33] bachnguyenkhanh97 commented on #41
so okay, this's my way, it's worked !

_handleImageChange = (event) => {
		if (event.target.value) {
			let file = event.target.files[0]
			let reader = new FileReader()

			reader.onloadend = () => {
				setImagePreviewUrl(reader.result)
			}
			reader.readAsDataURL(file)
		}
	}

[2020-08-25 07:33] bachnguyenkhanh97 commented on #41
so okay, this's my way, it's worked !

const _handleImageChange = (event) => {
		if (event.target.value) {
			let file = event.target.files[0]
			let reader = new FileReader()

			reader.onloadend = () => {
				setImagePreviewUrl(reader.result)
			}
			reader.readAsDataURL(file)
		}
	}

[2020-08-25 07:35] khanhbachnguyen commented on #41
so okay, that's my way, it's worked

    const _handleImageChange = (event) => {
		let file = event.target.files[0]
		if (file) {
			let reader = new FileReader()
			reader.onloadend = () => {
				setImagePreviewUrl(reader.result)
			}
			reader.readAsDataURL(file)
		}

	}